# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching files
cache.json

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
